
*{
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Poiret One', cursive;
}
body,html {
    background-color: #222;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#particles-js{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
/*header*/
.header{
    margin-bottom: 20px;
}
.header h1{
    color: #e40045;
    font-weight: 700;
}
/*ui*/
.color_mood{
    z-index: 100;
    padding: 5%;
    margin-top: 5%;
    background-color: #eee;
    border-radius: 4px;
}
/*upload button*/
.btn-upload {
    padding: 10px 60px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #098CB2;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    cursor: pointer; 
}
.btn-upload:hover {
    color: #fff;
}
.btn-upload:focus {
    color: #fff;
}
/*drag and drop*/
#drop_zone_outer {
    margin-bottom: 50px;
    z-index: 100;
    width: 300px;
    height:200px;
    padding: 10px;
    border: 1px solid #ccc;
}
#drop_zone_inner {
    font-weight: 400;
    height: 180px;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: #58636d;
}
/*output*/
.thumb {
    z-index: 100;
    width: 100%;
    height: auto;
  }
#list{
    margin-bottom: 20px;
}
.splitImg {
  padding: 1px;
  background-clip: content-box;
  background-repeat: no-repeat;
}
/*input*/
#upload{
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
#upload_button{
    margin-top: 20px;
    margin-bottom: 20px;  
    width: 100%; 
}
/*progress bar*/
#percent{
    border-radius: 4px;
}
#progress_bar {
    z-index: 100;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    opacity: 0;
}
#progress_bar.loading {
    opacity: 1.0;
}