
*{
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Poiret One', cursive;
}
    body,
html {
    background-color: #222;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.header{
    color: #e40045;
}
.header h1{
    font-weight: 700;
}
.upload{
    z-index: 100;
    padding: 5%;
    margin-top: 10%;
    background-color: #eee;
    border-radius: 4px;
}
.input{
    margin-top: 10%;
    text-align: center;
}
.file_upload{
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
.btn-upload {
    padding: 10px 60px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: #098CB2;
    border: 0;
    border-radius: 0;
}
.btn-upload:hover {
    color: #fff;
}
.btn-upload:focus {
    color: #fff;
}
#particles-js{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}